.custom-bg{
    background-image: linear-gradient( 179.3deg, rgba(0,0,0,1) 2.4%, rgba(255,255,255,0) 87.5% ) !important;
}

.carousel_image{
    height: 450px;
}

.custom-card{
    height: 225px;
    transition: 2s;
    /* z-index: 1; */
}

.custom-card:hover{
    transform: scale(1.25);
}

.card{
    overflow: hidden;
}

.card-body{
    z-index: 2;
}

.bi-star, .bi-star-fill{
    color: blueviolet;
    font-size: 20px;
}

td img{
    height: 100px;
}

textarea{
    height: 100px;
    resize: none;
}